body {
    margin: 0;
    padding: 0;
    background-color: hsla(60, 8%, 91%, 1);
}
.header {
    display: flex;
    justify-content: space-between;
    height: 43px;
    background: white;
    align-items: center;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
}
.menu-search {
    display: flex;
    width: 220px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.menu-search a {
    text-decoration: none;
    color: black;
}
.menu-search img {
    height: 20px;
}
.new-york-logo {
    height: 32px;
}
.menu:hover, .search:hover {
    background-color: #F6F6F4;
}
.space:hover {
    text-decoration: underline;
}
.subscribe-and-login-button  button{
    height: 34px;
    font-size: 12px;
    font-weight: bolder;
    background-color: steelblue;
    color: white;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
    
}
.subscribe-and-login-button {
    padding-right: 20px;
}
.advertise {
    height: 200px;
}
.space-ripples {
    text-align: center;
    background-color: white;
    padding-top: 30px;
}
.space-ripples h1 {
    font-size: 2.2rem;
    text-align: left;
    font-style: italic;
    margin-right: 300px;
    margin-left: 350px;
    padding-bottom: 20px;
    border-bottom: 1px solid hsla(60, 8%, 91%, 1);
}
span img {
    height: 1.2rem;
    border-radius: 100px;
    background-color: white;
}
.social-option {
    width: 180px;
    justify-content: space-between;
    display: flex;
    margin-left: 350px;
    padding-bottom: 30px;
}
.cosmos1 {
   
    width: 75%;
}
.cosmos1-details {
    text-align: left;
    padding-left: 155px;
    padding-right: 300px;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 0.9375rem;
    line-height: 1.25rem;
}
figcaption span {
    color: #888;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-size: 0.8125rem;
    line-height: 1.25rem;
}
.article {
    text-align: left;
    padding-left: 400px;
    padding-right: 400px;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    
}.article p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}
.article a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}
.article h4 {
    font-weight: lighter;
    font-size: 0.9rem;
}
.article div {
    text-align: center;
}
.points-title h2, .points-title p {
    display: inline;
    padding: 0em;
    margin: 0em;
}
.part {
    display: inline;
}
.points {
    background-color: white;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 20px;
}
.points-title {
    padding-left: 35px;
    padding-right: 35px;
}
.points-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.pics {
    width: 100%;
    max-width: 250px;
    
}
.fig {
    display: inline;
}
.cosmos2{
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 0.9375rem;
    line-height: 1.25rem;
}
.footer {
    background: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
}
.head-footer {
    justify-content: space-between;
    width: 100%;
    display: flex;
    border-top: 6px double hsla(60, 8%, 91%, 1);
    padding-top: 10px;
}
.homepage {
    text-decoration: none;
    color: #395F82;
    font-size: 0.8rem;
}
ul {
    list-style-type: none;
   
}
li a {
    color: black;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}


li {
    padding: 4px 67px 5px 0px;
    font-family:  'times new roman',times,serif;
    font-size: 0.85rem;
    width: 100%;
    margin: 0;
    border: 0;
}
.list {
    display: flex;
}
#unlock h5 {
    display: inline;
    margin: 0;
    font-size: 1.05rem;
    border-top: 1px solid hsla(60, 8%, 91%, 1); 
    padding-top: 10px;
}
#unlock a {
    
    text-decoration: none;
    color: #395F82;
    font-size: 0.95rem;
    border-bottom: 1px solid hsla(60, 8%, 91%, 1);
    padding-bottom: 10px; 
}
.last-footer a{
    text-decoration: none;
    color:#666;
    font-size: 11px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    
}
.last-footer {
    text-align: center;
    border-top: 1px solid hsla(60, 8%, 91%, 1);
    padding-top: 15px;
    padding-bottom: 80px;
    
}
.last-footer span {
    padding-left: 9px;
}
.last-footer a:hover {
    text-decoration: underline;
}
.expand {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid black;
    background-color: white;
}
.expand-work {
    justify-content: space-between;
    display: flex;
}
.expand-work-access a {
    text-decoration: none;
    color: black;
    padding-left: 450px;
}
.expand-work-expand a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    padding-right: 100px;
}
.strong {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 15px;
}
.light, .light1 {
    font-size: 11px;
    font-weight: 500;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}
#light {
    padding-top: 17px;
}
#light2 {
    padding-top: 17px;
    border-top: 1px solid hsla(60, 8%, 91%, 1);
}
#subscribe {
    border-left: 1px solid hsla(60, 8%, 91%, 1);
}